* {
  margin: 0;
  padding: 0;
  overflow: auto;
  cursor: none;
}

html {
  font-size: 14px;
}

.text-wrapper {
  width: 180px;
  margin: 40px;
  position: absolute;
  z-index: 10;
  font-family: 'Nunito Sans', 'Helvetica', sans-serif;
  color: white;
  user-select: none;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin-bottom: 1.6rem;;
}

p {
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 1px;
  letter-spacing: 0.05rem;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightcoral;
  box-sizing: border-box;
}
