* {
  margin: 0;
  padding: 0;
  cursor: none;
}

html {
  font-size: 14px;
}

div {
  position: absolute;
  z-index: 10;
}

.text-wrapper {
  width: 180px;
  margin: 40px;
  font-family: 'Nunito Sans', 'Helvetica', sans-serif;
  color: white;
  user-select: none;
}

.github-wrapper {
  top: calc(100% - 50px);
  left: calc(100% - 50px);
  height: 25px;
  width: 25px;
}

.github-logo {
  fill: #fff;
  transition: fill 0.2s ease-in-out;
}

.github-logo:hover {
  fill: #bfbfbf;
}


h1 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin-bottom: 1.6rem;;
}

p {
  font-weight: 300;
  font-size: 1rem;
  padding-left: 1px;
  padding-bottom: 3px;
  letter-spacing: 0.05rem;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightcoral;
  box-sizing: border-box;
}
